<div class="container-fluid p-0">
    <div class="{{ webFooter.properties.footerwidth }}">
        <div class="row">
            <div class="col-12 p-3">
                {{ webFooter.content.footer101|raw }}
            </div>
        </div>
    </div>
</div>