{% extends "Web/Public/PortalTemplate.html.twig" %}

{% block wrapper %}
    <div class="container mt-5">
        <div class="row">
            {% if webSettings.loginavailable == 1 %}
                <div class="col-12 col-lg-6 {{ (webSettings.registeravailable) ? '' : 'offset-lg-3' }}">
                    <form action="{{ asset('Me') }}" method="post">
                        <input type="hidden" name="action" value="login" />
                        <div class="card mb-3">
                            <div class="card-header text-center">{{ i18n.customTrans(fsc.webPage.filelang, 'login') }}</div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="email" name="email" class="form-control" placeholder="{{ i18n.customTrans(fsc.webPage.filelang, 'email') }}" autocomplete="off" autofocus="" required="" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="passwd" class="form-control" placeholder="{{ i18n.customTrans(fsc.webPage.filelang, 'password') }}" />
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" name="forgot" value="1" class="custom-control-input" id="customSwitchForgot"/>
                                    <label class="custom-control-label" for="customSwitchForgot">
                                        {{ i18n.customTrans(fsc.webPage.filelang, 'i-forgot-password') }}
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">
                                    {{ i18n.customTrans(fsc.webPage.filelang, 'login') }}
                                </button>

                                {% if webSettings.facebookappid and webSettings.facebookappsecret or webSettings.googleappid and webSettings.googleappsecret %}
                                    <hr/>
                                {% endif %}

                                {% if webSettings.facebookappid and webSettings.facebookappsecret %}
                                    <a class="btn btn-primary btn-block" style="background-color: #3b5998; border: none;" href="#!" role="button">
                                        {{ i18n.customTrans(fsc.webPage.filelang, 'login-facebook') }} <i class="fab fa-facebook-f"></i>
                                    </a>
                                {% endif %}

                                {% if webSettings.googleappid and webSettings.googleappsecret %}
                                    <a class="btn btn-primary btn-block" style="background-color: #dd4b39; border: none;" href="#!" role="button">
                                        {{ i18n.customTrans(fsc.webPage.filelang, 'login-google') }} <i class="fab fa-google"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% if webSettings.registeravailable == 1 %}
                <div class="col-12 col-lg-6 {{ (webSettings.loginavailable) ? '' : 'offset-lg-3' }}">
                    <form action="{{ asset('Me') }}" method="post">
                        <input type="hidden" name="action" value="register" />
                        <div class="card mb-3">
                            <div class="card-header text-center">{{ i18n.customTrans(fsc.webPage.filelang, 'register-me') }}</div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="name" class="form-control" placeholder="{{ i18n.customTrans(fsc.webPage.filelang, 'name') }}" autocomplete="off" autofocus="" required="" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="email" name="email" class="form-control" placeholder="{{ i18n.customTrans(fsc.webPage.filelang, 'email') }}" autocomplete="off" required="" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="newpasswd" class="form-control" placeholder="{{ i18n.customTrans(fsc.webPage.filelang, 'new-password') }}" required="" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-eye fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="newpasswd2" class="form-control" placeholder="{{ i18n.customTrans(fsc.webPage.filelang, 'repeat-new-password') }}" required="" />
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" name="okprivacy" value="true" class="custom-control-input" id="customCheckPrivacy" required=""/>
                                    <label class="custom-control-label" for="customCheckPrivacy">
                                        {{ i18n.customTrans(fsc.webPage.filelang, 'i-accept-privacy-policy') }}
                                        <a href="{{ fsc.pageComposer.getPagesDefault()['privacypage'] }}" target="_blank">
                                            {{ i18n.customTrans(fsc.webPage.filelang, 'read-more') }}
                                        </a>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">
                                    {{ i18n.customTrans(fsc.webPage.filelang, 'register-me') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}