{#
/**
 * This file is part of WebCreator plugin for FacturaScripts
 * Copyright (C) 2022 Carlos Garcia Gomez <carlos@facturascripts.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 *
 * @author Daniel Fernández Giménez <hola@danielfg.es>
 */
#}
{% set order = fsc.getCurrentView().model %}

<div class="container pt-2 pb-3">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h1 class="h3">
                <i class="far fa-file-powerpoint"></i> {{ i18n.customTrans(fsc.webPage.filelang, 'estimation') }} {{ order.codigo }}
            </h1>
        </div>

        <div class="col-12 col-lg-6 text-right">
            <a href="{{ asset('Me') }}?activetab=CardPresupuestoCliente" class="btn btn-secondary">
                <i class="fas fa-list fa-fw"></i>
                {{ i18n.customTrans(fsc.webPage.filelang, 'all') }}
            </a>
        </div>
    </div>
</div>