{% extends "Web/Public/PortalTemplate.html.twig" %}

{% block body %}
    <div class="bg-light pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <i class="fas fa-search fa-4x" aria-hidden="true"></i>
                    <h1 class="h2 mt-2">
                        {{ i18n.customTrans(fsc.webPage.filelang, 'page-not-found') }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <p class="text-center">{{ i18n.customTrans(fsc.webPage.filelang, 'page-not-found-p') }}</p>
            </div>
        </div>
    </div>
{% endblock %}